div.wlby_movie
{
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 640px;
	height: 960px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

.wlby_7
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -147.75, -53.85);
}

.wlby_4
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -127.1, -192);
}

.wlby_8
{
	-webkit-animation-duration: 0.0416667s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -30, -45);
}

.wlby_6
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform-origin: 0px 0px;
}

.wlby_3
{
	-webkit-animation-duration: 0.0416667s;
	-webkit-transform: matrix(1, 0, 0, 1, 319.95, 480);
	-webkit-transform-origin: 0px 0px;
}

.wlby_5
{
	-webkit-animation-duration: 0.0416667s;
	-webkit-transform: matrix(1, 0, 0, 1, 320, 868.35);
	-webkit-transform-origin: 0px 0px;
}

